= form_for [resource, resource.comments.build], method: :post, remote: true do |f|
  = f.label :body, 'Ваш комментарий'
  = f.text_area :body, class: 'form-control', rows: 2
  = f.submit 'Добавить комментарий', class: 'btn waves-effect green'